:root{
    --lt-yellow: #FFF2CC;
    --md-yellow: #FFD966;
    --lt-peach: #f5b892;
    --peach: #F4B183;
    --md-peach: #DFA67B;
    --dk-brown: #523c2d;
}
*{
    color: var(--dk-brown);
}

.bg-pattern{
    background-image: url("../img/yellowbg.png");
    background-repeat: repeat;
}

/******************* searchbar ******************/
#search-form{
    position: relative;
}
#searchbar{
    background-color: transparent;
    color: var(--dk-brown);
    border-color: var(--dk-brown);
    border-radius: 20px;
    padding: 0 0.5em 0 0.5em;
}
.zen-search-icon{
    position: absolute;
    right: 4%;
    top: 16%;
}


/******************* homepage animation ******************/
.wave {
    position: relative;
}

.wave span {
    position: relative;
    display: inline-block;
    font-size: 2em;
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(.1s*var(--i));
}
@keyframes animate {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/******************* text classes ******************/
.zen-text-retro{
    text-shadow: -2px 2px 0px #9d8f60, -4px 4px 0px #d9c559, -6px 6px 0px #e89a65;
}
.zen-text-peach{
    color: var(--lt-yellow);
}

/******************* card classes ******************/
.zen-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.zen-card{
    background-color: var(--peach);
    width: 85%;
    height: auto;
    box-shadow: 0px 0px 15px 0px rgba(156,156,156,.4);
    border-radius: 25px;
}

.zen-index-card{
    background-color: #eee;
    margin: 4.1666666666%;
    height: 100%;
    box-shadow: 0px 0px 15px 0px rgba(156,156,156,.4);
    border-radius: 0.5em;
}


/******************* button ******************/
.zen-btn-outline-primary{
    color: var(--dk-brown);
    border-color: var(--dk-brown);
    z-index: 1;
}


/******************* fancy hr ******************/
.zen-box-h{
    margin:0;
    padding: 0.2em;
    display: inline-block;
    border: 1px solid var(--dk-brown);
}
.zen-hr{
    margin: 0;
    display: inline-block;
    width: 33.333%;
    border-bottom: 1px solid var(--dk-brown);
}


/******************* text boxes ******************/
input[type=text], input[type=password], input[type=number], #description{
    background-color: rgba(255, 255, 255, 0.46);
}


/********************** INDEX ***********************/

.zen-i-card{
    position: relative;
    margin: 0 4.1666666666%;
}

.zen-i-card-body{
    position: relative;
    z-index: 5;
}
.zen-i-card::before{
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -50px;
    height: 50px;
    width: 25px;
}
.zen-i-card::after{
    z-index: 1;
    content: "";
    position: absolute;
    background-color: transparent;
    top: -50px;
    height: 50px;
    width: 25px;
}


/******************* card curve setters (dynamically set) ******************/
.zen-i-tl {
    border-radius: 25px 25px 0 0;
}
.zen-i-tl::before {
    border-top-left-radius: 25px;
    box-shadow: 0 -25px 0 0;
}


.zen-i-tr {
    border-radius: 25px 25px 0 0;
}
.zen-i-tr::before {
    right: 0;
    border-top-right-radius: 25px;
    box-shadow: 0 -25px 0 0;
}

.zen-i-l {
    border-radius: 25px 0 0 0;
}

.zen-i-l::before {
    border-top-left-radius: 25px;
    box-shadow: 0 -25px 0 0;
}
.zen-i-l::after {
    right: 0;
    border-bottom-right-radius: 25px;
    box-shadow: 0 25px 0 0;
}
.zen-i-r {
    border-radius: 0 25px 0 0;
}
.zen-i-r::before {
    right: 0;
    border-top-right-radius: 25px;
    box-shadow: 0 -25px 0 0;
}
.zen-i-r::after {
    left: 0;
    border-bottom-left-radius: 25px;
    box-shadow: 0 25px 0 0;
}

.zen-i-sl {
    border-radius: 25px 25px 25px 0;
}
.zen-i-sl::before {
    border-top-left-radius: 25px;
    box-shadow: 0 -25px 0 0;
}
.zen-i-sr {
    border-radius: 25px 25px 0 25px;
}
.zen-i-sr::before {
    right: 0;
    border-top-right-radius: 25px;
    box-shadow: 0 -25px 0 0;
}

.zen-i-bl{
    border-radius: 25px 0 25px 0;
}
.zen-i-bl::before {
    border-top-left-radius: 25px;
    box-shadow: 0 -25px 0 0;
}
.zen-i-bl::after {
    right: 0;
    border-bottom-right-radius: 25px;
    box-shadow: 0 25px 0 0;
}
.zen-i-br {
    border-radius: 0 25px 0 25px;
}
.zen-i-br::before {
    right: 0;
    border-top-right-radius: 25px;
    box-shadow: 0 -25px 0 0;
}
.zen-i-br::after{
    border-bottom-left-radius: 25px;
    box-shadow: 0 25px 0 0;
}

/******************* color setters (dynamically set) ******************/
.peach{
    background-color: var(--peach);
    color: var(--peach);
}

.lt-peach{
    background-color: var(--lt-peach);
    color: var(--lt-peach);
}

.md-peach{
    background-color: var(--md-peach);
    color: var(--md-peach);
}