:root{
    --lt-yellow: #FFF2CC;
    --md-yellow: #FFD966;
    --peach: #F4B183;
    --md-peach: #DFA67B;

    --dk-brown: #523c2d;
}

.bg-pattern{
    background-image: url("../img/yellowbg.png");
    background-repeat: repeat;
}
*{
    color: var(--dk-brown);
}
.zen-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}
.zen-card{
    background-color: #eee;
    width: 85%;
    height: auto;
    box-shadow: 0px 0px 15px 0px rgba(156,156,156,.4);
    /*border-radius: ;*/
}
.zen-index-card{
    background-color: #eee;
    /*width: 100%;*/
    margin: 4.1666666666%;
    height: 100%;
    box-shadow: 0px 0px 15px 0px rgba(156,156,156,.4);
    border-radius: 0.5em;
}


.zen-btn-outline-primary{
    color: var(--dk-brown);
    border-color: var(--dk-brown);
    z-index: 1;
}
.zen-box-h{
    margin:0;
    padding: 0.2em;
    display: inline-block;
    border: 1px solid var(--dk-brown);
}

.zen-hr{
    margin: 0;
    display: inline-block;
    width: 33.333%;
    border-bottom: 1px solid var(--dk-brown);
}

.zen-v-line{
    position: absolute;
    width: 46.4%;
    height: 93.8%;
    /*border-left: 1px solid #333;*/
    /*border-right: 1px solid #333;*/
    left: 7.6%;
    top: 46%;
    box-shadow: inset 91px 0px 31px -85px rgba(64,40,64,0.57);
    z-index: 1;
    /*box-shadow: 14px 0px 11px -7px rgba(64,40,64,0.57);*/
}


/********************** INDEX ***********************/


.zen-i-tl {
    position: relative;
    margin: 0 4.1666666666%;
    background-color: var(--peach);
    border-radius: 25px 25px 25px 0;
}

.zen-i-tl::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -50px;
    height: 50px;
    width: 25px;
    border-top-left-radius: 25px;
    box-shadow: 0 -25px 0 0 var(--peach);
}
.zen-i-tr {
    position: relative;
    margin: 0 4.1666666666%;
    background-color: var(--peach);
    border-radius: 25px 25px 0 25px;
}

.zen-i-tr::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -50px;
    right: 0;
    height: 50px;
    width: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 -25px 0 0 var(--peach);
}


